<div class="main">

    <div class="profile">
        <div class="text">
            <h1>Hi. I'm Nick.</h1>
            <h2>I have a passion for Software Development and Design.</h2>
        </div>
        <div class="cta">
            <a scroll-to="work" class="cta-c">
                <h3>Check out my work</h3>
                <i class="icon ion-chevron-down"></i>
            </a>
        </div>
    </div>
    
    <div class="section" id="work">
        <div class="items">
            <div work-btn data="project" ng-repeat="project in projects track by $index"></div>
        </div>
    </div>

</div>
