<div class="main">
    <div class="topnav">
        <div class="leftside">
            <a class="navbtn" href="/">Nicholas Robinson</a>
        </div>
        <div class="rightside">
            <a class="navbtn" href="https://github.com/nrobinson12" target="_blank"><i class="icon ion-social-github"></i></a>
            <a class="navbtn" href="https://www.linkedin.com/in/nrobinson12/" target="_blank"><i class="icon ion-social-linkedin"></i></a>
        </div>
        
    </div>

    <div class="profile">
        <div class="text">
            <h1>Hi. I'm Nick.</h1>
            <h2>I have a passion for Software Development and Design.</h2>
        </div>
        <div class="cta">
            <a scroll-to="work" class="cta-c">
                <h3>Check out my work</h3>
                <i class="icon ion-chevron-down"></i>
            </a>
        </div>
    </div>
    
    <div class="section" id="work">
        <div class="items">
            <a ng-href="{{ github }}" class="project" ng-repeat="project in projects track by $index">
                <div class="container">
                    <img ng-src="{{ project.image }}">
                </div>
                <h3 style="float: left">{{ project.name }}</h3>
                <h3 style="float: right">{{ project.what }}</h3>
            </a>
        </div>
    </div>

    <div class="section" id="contact">
        
    </div>

</div>