<div class="shadow section" id="projects">
    <div class="title">PROJECTS</div>
    <div class="separator"></div>
    <div class="items">
        <div class="project" ng-repeat="project in projects track by $index">
            <div class="container">
                <img ng-src="{{ project.image }}">
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <a class="git" ng-href="{{ project.github }}" target="_blank">Check it Out &#8594;</a>
            </div>
        </div>
    </div>
</div>