.app {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .app {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .app {
    padding-left: 2em;
    padding-right: 2em;
  }
}
a {
  text-decoration: none;
  transition: color 0.15s ease-in;
  box-sizing: border-box;
  color: #000;
}
a:hover {
  color: #04ABD1;
}
.header {
  margin-top: 4em;
  margin-bottom: 14em;
  overflow: auto;
}
.header .home {
  float: left;
  width: 40%;
}
.header .other {
  float: left;
  width: 60%;
}
.main .nicholas {
  height: 12em;
  margin-bottom: 50px;
  animation-delay: 0.2s;
}
.main .nicholas .text {
  font-size: 4em;
  font-weight: 600;
  word-wrap: break-word;
  width: 25%;
  line-height: .9em;
  margin-bottom: 1em;
  float: left;
  z-index: 10;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main .nicholas .text {
    width: 35%;
  }
}
@media screen and (max-width: 425px) {
  .main .nicholas .text {
    width: 35%;
  }
}
.main .nicholas .profile {
  border-radius: 50%;
  width: auto;
  height: 100%;
  float: right;
}
.main .nicholas .profileContainer {
  width: 75%;
  height: 100%;
  float: left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main .nicholas .profileContainer {
    width: 65%;
  }
}
@media screen and (max-width: 425px) {
  .main .nicholas .profileContainer {
    width: 65%;
  }
}
.main .blurb {
  animation-delay: 0.4s;
}
.app .experience {
  animation-delay: 0.6s;
}
.app .experience .title {
  font-size: 2em;
  font-weight: 600;
  margin-top: 2em;
}
.app .experience .job .name {
  font-weight: 600;
  margin-top: 1.5em;
}
.app .footer {
  animation-delay: 0.8s;
  margin-bottom: 5em;
  margin-top: 8em;
}
.app .footer .link {
  padding-right: 2em;
}
.right {
  float: right;
}
.fade-in {
  animation: fadeIn 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-up {
  animation: fadeInUp 0.8s;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
