/*	Nicholas Robinson
	Portfolio Website
    Start: April 19 2017
*/

@import "globalVars.css";

.container {
    background-color: rgba(220, 220, 220, 0);
    color: black;
    overflow: hidden;
    position: relative;
    padding: 0;
}

/* each different section I have (eg. about, projects, etc) */

.topnav, .section {
    padding: 0 10%;
}

.section {
    min-height: 400px;
    background-color: rgba(121, 121, 121, 0);
    overflow: visible;
    position: relative;
    padding: 0;
}

/* title for said sections*/

.title {
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.76);
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.separator {
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 60%;
    margin: 0 auto;
}

/* pictures in between sections */

.pics {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}

.main {
    height:100%;
    background-image: url("../assets/images/profiletree.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

#main {
    height: 100%;
}

/* --------------TOP NAVIGATION BAR-------------- */

.topnav {
    background-color: rgba(80, 80, 80, 0);
    overflow: hidden;
    position: fixed;
    vertical-align: middle;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.topnav .leftside { float: left; }

.topnav .leftside,
.topnav .rightside {
    height: 100%;
    display: block;
}

.topnav .navbtn {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1.5em 1.0em;
}

.topnav a {
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    height: 60px;
    float: right;
    padding: 0px 16px;
    display: table-cell;
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    vertical-align: middle;
}

.topnav .leftside a:hover > .icon {
    color: var(--primary-color);
}

/* --------------HOME-------------- */

.profilepic {
    border-radius: 50%;
    width: 370px;
    height: auto;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.profile {
    max-width: 940px;
    margin: 0 auto;
    top: 100px;
    padding: 30px;
    padding-top: 100px;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-style: normal;
    font-size: 17px;
}

/* --------------ABOUT-------------- */

#about .aboutText {
    padding: 0 50px 0 50px;
    float: left;
    width: 60%;
    position: relative;
}

#about .aboutText p {
    font-size: 27px;
}

#about .container {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#about .aboutImg {
    height: 480px;
    float: right;
    width: 40%;
    overflow: hidden;
    position: relative;
    top: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}

#about img {
    width: auto;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
}

/* --------------PROJECTS-------------- */

#projects .items {
    display: table;
    width: 100%;
}

#projects .project {
    height: 650px;
    width: 100%;
    overflow: visible;
    display: block;
}

#projects .container {
    height: 100%;
    width: 100%;
}

#projects .projecttext {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0 10px 50px 50px;
    padding: 15px;
    background-color: #ffffff;
    max-width: 20%;
    border-radius: 5px;
}

#projects h3, #projects p {
    margin: 0;
}

#projects .git {
    padding: 15px;
    bottom: 0;
    font-size: 16px;
    position: absolute;
    left: 0;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    width: 100%;
}

#projects .git:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#projects .git:active {
    background-color: rgba(0, 0, 0, 0.4);
}

/* --------------EXPERIENCE-------------- */

#experience .job {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    display: inline-block;
}

#experience .image {
    width: 15%;
    float: left;
    height: 200px;
    text-align: center;
}

#experience img {
    height: auto;
    width: 100%;
    float: right;
    padding: 20px 10% 0 10%;
}

#experience .text {
    width: 85%;
    float: right;
    position: relative;
    display: table;
    padding: 45px 70px 70px 30px;
}

#experience .container {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}

#experience .header {
    width: 100%;
    height: 60px;
}

#experience .header h3 {
    color: black;
    font-size: 28px;
    padding: 0 5% 0 5%;
}

#experience .container .separator {
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    width: 90%;
}

#experience p {
    padding: 15px 15px 0 15px;
    font-size: 20px;
    float: left;
}

#experience .desection {
    min-height: 50px;
    overflow: hidden;
}

#experience .detitle {
    float: left;
    width: 20%;
    text-align: right;
    font-weight: bold;
}

#experience .description {
    float: right;
    width: 80%;
    text-align: left;
    padding-right: 50px;
}

/* --------------HAIR-------------- */

#hair .items {
    text-align: center;
    display: table;
    margin: 0 auto;
}

#hair img {
    height: 300px;
    width: auto;
    padding: 0;
    margin: 50px;
    margin-bottom: 80px;
}

#hair p {
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgba(255, 255, 255, 0.8);
}

/* --------------CONTACT-------------- */

#contact p {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

#contact .buttons {
    height: 200px;
    padding: 30px;
    padding-top: 50px;
    text-align: center;
}

#contact a {
    height: 50px;
    padding: 15px;
}

#contact img {
    height: 100%;
    width: auto;
}