/*	Nicholas Robinson
	Portfolio Website
    Start: June 12 2017
*/
@import "globalvars.css";

@media only screen and (max-device-width: 480px) {

	.topnav {
		height: 15%;
		padding: 0;
	}
	.topnav a {
		font-size: 46px;
	}

	

}